<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager_dynamic" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid_dynamic" args="load pcl/VoxelGrid pcl_manager_dynamic" output="screen">
    <remap from="~input" to="/velodyne_points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: -0.3
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.05
    </rosparam>
    <remap from="~output" to="/cloud_for_dynamic" />
  </node>
</launch>
