<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager_crop" args="manager" output="screen" />

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="crop_box" args="load pcl/CropBox pcl_manager" output="screen">
    <remap from="~input" to="/cloud_for_static" />
    <rosparam>
      /crop_box/min_x: -0.1
      /crop_box/max_x:  1.2
      /crop_box/min_y: -0.42
      /crop_box/max_y:  0.42
      /crop_box/min_z: -1
      /crop_box/max_z:  0.2
      /crop_box/negative: true
    </rosparam>
    <remap from="~output" to="/cloud_for_static_no_arm" />
  </node>
</launch>
